@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  html{
    @apply bg-bg_dark_m;
  }
}

@layer utilities {
  .tooltip-text{
    opacity: 0;
    width: auto;
    position: absolute;
  }
  .tooltip-top{
    top: 0;
    left:50%;
    transform: translate(-50%,calc(-100% - 10px));
  }
  .tooltip-bottom{
    bottom: 0;
    left:50%;
    transform: translate(-50%,calc(100% + 10px));
  }
  .aft-bottom-tooltip::after{
    content: " ";
    position: absolute;
    bottom: 100%; /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgb(51 65 85) transparent;
  }
  .aft-top-tooltip::after{
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(51 65 85) transparent transparent transparent;
  }

  .collapse-transition{
    transition: height 350ms ease-in-out;
  }

  .meter-step{
    @apply bg-transparent;
  }
  .meter-step::-webkit-meter-bar{
    @apply bg-slate-500 h-2 border-0;
  }
  .meter-step::-webkit-meter-optimum-value{
    @apply bg-primary;
    transition: width 500ms ease-in-out;
  }
}

@layer components{
  ::-webkit-progress-value{
    @apply bg-green_accent rounded-full h-3;
  }
  ::-webkit-progress-bar{
    @apply bg-bg_darkest rounded-full h-3;
  }
  .raise-progress{
    @apply h-3;
  }

  
}

@font-face {
  font-family: 'Lexend';
  src: url('./../fonts/Lexend-Regular.ttf');
   src: url('./../fonts/Lexend-Regular.ttf') format('truetype');
   font-weight: 400;
   font-style: normal;
}
@font-face {
  font-family: 'Lexend';
  src: url('./../fonts/Lexend-Black.ttf');
   src: url('./../fonts/Lexend-Black.ttf') format('truetype');
   font-weight: 900;
   font-style: normal;
}
@font-face {
  font-family: 'Lexend';
  src: url('./../fonts/Lexend-Bold.ttf');
   src: url('./../fonts/Lexend-Bold.ttf') format('truetype');
   font-weight: 700;
   font-style: normal;
}
@font-face {
  font-family: 'Lexend';
  src: url('./../fonts/Lexend-ExtraBold.ttf');
   src: url('./../fonts/Lexend-ExtraBold.ttf') format('truetype');
   font-weight: 800;
   font-style: normal;
}
@font-face {
  font-family: 'Lexend';
  src: url('./../fonts/Lexend-ExtraLight.ttf');
   src: url('./../fonts/Lexend-ExtraLight.ttf') format('truetype');
   font-weight: 200;
   font-style: normal;
}
@font-face {
  font-family: 'Lexend';
  src: url('./../fonts/Lexend-Light.ttf');
   src: url('./../fonts/Lexend-Light.ttf') format('truetype');
   font-weight: 300;
   font-style: normal;
}
@font-face {
  font-family: 'Lexend';
  src: url('./../fonts/Lexend-SemiBold.ttf');
   src: url('./../fonts/Lexend-SemiBold.ttf') format('truetype');
   font-weight: 600;
   font-style: normal;
}
@font-face {
  font-family: 'Lexend';
  src: url('./../fonts/Lexend-Thin.ttf');
   src: url('./../fonts/Lexend-Thin.ttf') format('truetype');
   font-weight: 100;
   font-style: normal;
}