@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  html{
    @apply bg-bg_dark_m;
  }
}

@layer components{
  ::-webkit-progress-value{
    @apply bg-green_accent rounded-full h-3;
  }
  ::-webkit-progress-bar{
    @apply bg-bg_darkest rounded-full h-3;
  }
  .raise-progress{
    @apply h-3;
  }

  .aft-top-tooltip::after{
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(51 65 85) transparent transparent transparent;
  }
}

@font-face {
  font-family: 'Lexend';
  src: url('./../fonts/Lexend-Regular.ttf');
   src: url('./../fonts/Lexend-Regular.ttf') format('truetype');
   font-weight: 400;
   font-style: normal;
}
@font-face {
  font-family: 'Lexend';
  src: url('./../fonts/Lexend-Black.ttf');
   src: url('./../fonts/Lexend-Black.ttf') format('truetype');
   font-weight: 900;
   font-style: normal;
}
@font-face {
  font-family: 'Lexend';
  src: url('./../fonts/Lexend-Bold.ttf');
   src: url('./../fonts/Lexend-Bold.ttf') format('truetype');
   font-weight: 700;
   font-style: normal;
}
@font-face {
  font-family: 'Lexend';
  src: url('./../fonts/Lexend-ExtraBold.ttf');
   src: url('./../fonts/Lexend-ExtraBold.ttf') format('truetype');
   font-weight: 800;
   font-style: normal;
}
@font-face {
  font-family: 'Lexend';
  src: url('./../fonts/Lexend-ExtraLight.ttf');
   src: url('./../fonts/Lexend-ExtraLight.ttf') format('truetype');
   font-weight: 200;
   font-style: normal;
}
@font-face {
  font-family: 'Lexend';
  src: url('./../fonts/Lexend-Light.ttf');
   src: url('./../fonts/Lexend-Light.ttf') format('truetype');
   font-weight: 300;
   font-style: normal;
}
@font-face {
  font-family: 'Lexend';
  src: url('./../fonts/Lexend-SemiBold.ttf');
   src: url('./../fonts/Lexend-SemiBold.ttf') format('truetype');
   font-weight: 600;
   font-style: normal;
}
@font-face {
  font-family: 'Lexend';
  src: url('./../fonts/Lexend-Thin.ttf');
   src: url('./../fonts/Lexend-Thin.ttf') format('truetype');
   font-weight: 100;
   font-style: normal;
}